.app__header {
  background: var(--color-black);
}
.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  line-height: 100px;
  font-size: 90px;
  text-transform: uppercase;
}
.app__wrapper_img img {
  width: 180%;
}
